/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#mainpage{
    -fx-background-image:url("Scrabble_MainPage.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1200 800;
    -fx-background-position: center top;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#playingpage{
    -fx-background-repeat: stretch;   
    -fx-background-size: 500 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#Tiles{
    -fx-background-color: rgb(211,211,211);
    -fx-text-fill: BLUE;

}